{% extends 'base.html.twig' %}

{% block body %}

    <h1 style="text-align:center">About</h1>
    <hr class="turq">
   <div class="left">
            <img src="{{ asset('images/freek.jpg')}}" class="user">

            <h1>Freek Gielen</h1>
            <hr id="klein" class="groen">
            <h2>11304530</h2>
            <div class="about">"Mellow keeps your food fresh while waiting for the right time to start cooking so you have the freedom to enjoy your day and still have a great dinner when you get home."</div>
            <div class="skills">Info
                <hr id="groot" class="groen">
            </div>

            <div class="info">
                <div class="dr"><span class="number">24</span>
                    <br><span class="light">Age</span></div>
                <div class="dr"><span class="number">3</span>rd
                    <br><span class="light">Year</span></div>
                <div class="dr"><span class="number">129</span>
                    <br><span class="light">Random</span></div>

            </div>
            <div class="skills">Skills
                <hr id="groot" class="groen">
            </div>
            <div class="progs">
                <div class="dr">
                    <h3>Photoshop</h3></div>
                <div class="dr">
                    <h3>Illustrator</h3></div>
                <div class="dr">
                    <h3>Brackets</h3></div>


            </div>
            <div class="skills">Social
                <hr id="groot" class="groen">
            </div>
            <div class="progs">
                <div class="dr"> <img src="{{ asset('images/fb.png')}}" class="icon">
                    <h3>Facebook</h3></div>
                <div class="dr"><img src="{{ asset('images/snap.png')}}" class="icon">
                    <h3>Snapchat</h3></div>
                <div class="dr"><img src="{{ asset('images/skype.png')}}" class="icon">
                    <h3>Skype</h3></div>


            </div>


        </div>
        <div class="right">
            <img src="{{ asset('images/freek.jpg')}}" class="user">
            <h1>Ruben Cox</h1>
            <hr id="klein" class="blauw">
            <h2>11305006</h2>
            <div class="about">"Mellow keeps your food fresh while waiting for the right time to start cooking so you have the freedom to enjoy your day and still have a great dinner when you get home."</div>
            <div class="skills">Info
                <hr id="groot" class="blauw">
            </div>

            <div class="info">
                <div class="dr"><span class="number">22</span>
                    <br><span class="light">Age</span></div>
                <div class="dr"><span class="number">3</span>rd
                    <br><span class="light">Year</span></div>
                <div class="dr"><span class="number">129</span>
                    <br><span class="light">Random</span></div>

            </div>
            <div class="skills">Skills
                <hr id="groot" class="blauw">
            </div>
            <div class="progs">
                <div class="dr">
                    <h3>Photoshop</h3></div>
                <div class="dr">
                    <h3>Illustrator</h3></div>
                <div class="dr">
                    <h3>Brackets</h3></div>


            </div>
             <div class="skills">Social
                <hr id="groot" class="blauw">
            </div>
            <div class="progs">
                <div class="dr"> <img src="{{ asset('images/fb.png')}}" class="icon">
                    <h3>Facebook</h3></div>
                <div class="dr"><img src="{{ asset('images/snap.png')}}" class="icon">
                    <h3>Snapchat</h3></div>
                <div class="dr"><img src="{{ asset('images/skype.png')}}" class="icon">
                    <h3>Skype</h3></div>


            </div>

        </div>

    </div>

{% endblock %}

