{% extends 'base.html.twig' %}

{% block body %}


    <h1 style="text-align:center">Dokters</h1>
    <hr class="turq">

    <div class="row docs">
        <div class="col-sm-3">


           <a href="#"> <img src="{{ asset('images/doctor.jpg') }}"></a>
            <h2>Dr. Jan Michiels</h2>
                  <p><img src="{{ asset('images/tel.png') }}" style="max-height:1em;margin-right:5px;">014-65 61 99</p>
            <div class="button">Maak afspraak</div>
        </div>

        <div class="col-sm-3">


           <a href="#"> <img src="{{ asset('images/doctor.jpg') }}"></a>
            <h2>Dr. Jan Michiels</h2>
                  <p><img src="{{ asset('images/tel.png') }}" style="max-height:1em;margin-right:5px;">014-65 61 99</p>
            <div class="button">Maak afspraak</div>
        </div>
        <div class="col-sm-3">


           <a href="#"> <img src="{{ asset('images/doctor.jpg') }}"></a>
            <h2>Dr. Jan Michiels</h2>
            <p><img src="{{ asset('images/tel.png') }}" style="max-height:1em;margin-right:5px;">014-65 61 99</p>
            <div class="button">Maak afspraak</div>
        </div>
        <div class="col-sm-3">


           <a href="#"> <img src="{{ asset('images/doctor.jpg') }}"></a>
            <h2>Dr. Jan Michiels</h2>
                  <p><img src="{{ asset('images/tel.png') }}" style="max-height:1em;margin-right:5px;">014-65 61 99</p>
            <div class="button">Maak afspraak</div>
        </div>


    </div>
    <div class="row docs">
        <div class="col-sm-3">


           <a href="#"> <img src="{{ asset('images/doctor.jpg') }}"></a>
            <h2>Dr. Jan Michiels</h2>
                  <p><img src="{{ asset('images/tel.png') }}" style="max-height:1em;margin-right:5px;">014-65 61 99</p>
            <div class="button">Maak afspraak</div>
        </div>

        <div class="col-sm-3">


           <a href="#"> <img src="{{ asset('images/doctor.jpg') }}"></a>
            <h2>Dr. Jan Michiels</h2>
                  <p><img src="{{ asset('images/tel.png') }}" style="max-height:1em;margin-right:5px;">014-65 61 99</p>
            <div class="button">Maak afspraak</div>
        </div>
        <div class="col-sm-3">


           <a href="#"> <img src="{{ asset('images/doctor.jpg') }}"></a>
            <h2>Dr. Jan Michiels</h2>
                  <p><img src="{{ asset('images/tel.png') }}" style="max-height:1em;margin-right:5px;">014-65 61 99</p>
            <div class="button">Maak afspraak</div>
        </div>
        <div class="col-sm-3">


           <a href="#"> <img src="{{ asset('images/doctor.jpg') }}"></a>
            <h2>Dr. Jan Michiels</h2>
                  <p><img src="{{ asset('images/tel.png') }}" style="max-height:1em;margin-right:5px;">014-65 61 99</p>
            <div class="button">Maak afspraak</div>
        </div>


    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

