{% extends 'base.html.twig' %}

{% block body %}


    <h1 style="text-align:center">Dokters</h1>
    <hr class="turq">

    <div class="row docs">
        {% for dokter in dokters %}
            <div class="col-sm-3">


                <a href="/dokters/info/{{ dokter.id }}"> <img src="{{ asset('images/doctor.jpg') }}"></a>
                <h2>{{ dokter.voornaam }}</h2>
                <h2>{{ dokter.naam }}</h2>
                <p><img src="{{ asset('images/tel.png') }}" style="max-height:1em;margin-right:5px;">014-65 61 99</p>
                <a href="/dokters/{{ dokter.id }}"><div class="button">Maak afspraak</div></a>
            </div>

                <!--<td>{{ dokter.id }}</td>
                <td>{{ dokter.naam }}</td>
                <td>{{ dokter.voornaam }}</td>
                <td>{{ dokter.profielfoto }}</td>
                <td><a href="dokters/edit/{{ dokter.id }}">Edit</a></td>
                <td><a href="dokters/delete/{{ dokter.id }}">Delete</a></td>-->

        {% endfor %}
    </div>
{% endblock %}

